@import "../../constants/common.scss";
@import "../../constants/colors.scss";
@import "../../constants/typography.scss";

.back-link {
  color: $dark-grey;
}

.title-text {
  @include bold-font;
  font-size: 1.5rem;
  color: $black;
}

.col-1-container {
  border: 2px solid $light-grey;
  width: 57%;
  border-radius: 4px;
}

.col-2-container {
  width: 38%;
  background: $grey-blue;
  border-radius: 4px;
}

.border-bottom {
  border-bottom: 2px solid $light-grey;
}

.add-more-text {
  color: $blue;
  @include bold-font;
  cursor: pointer;
}

.table-heading {
  @include bold-font;
  color: $dark-grey;
  font-size: 0.7rem;
}

.table-data {
  @include medium-font;
  color: $dark-grey;
}

.green-text {
  color: $green;
}

.sub-title-text {
  @include bold-font;
}

.sub-title-price-text {
  @include bold-font;
  font-size: 1.2rem;
}

.slno {
  width: 10%;
}
.qty {
  width: 30%;
}

.items {
  width: 50%;
}

@media (max-width: 767px) {
  .col-1-container,
  .col-2-container {
    width: 100%;
    margin-bottom: 3rem;
  }
  .removeOnMobile {
    margin: 0 !important;
  }
  .pm-2 {
    padding: 1.5rem 0.8rem;
  }
  .items {
    text-align: center;
  }
}
